@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'gotham';
  src: url("../fonts/-Gotham-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-light';
  src: url("../fonts/-ProximaNova-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima';
  src: url("../fonts/-ProximaNova-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Image Rotate 45 Degree*/
/* line 5, ../../scss/base/_0.2-base.scss */
html, body {
  overflow-x: hidden;
}

/* line 7, ../../scss/base/_0.2-base.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 13, ../../scss/base/_0.2-base.scss */
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 7, ../../scss/layout/_1.1-object--global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'gotham';
}

/* line 9, ../../scss/layout/_1.1-object--global.scss */
h2 {
  font-size: 1.5em;
}

/* line 10, ../../scss/layout/_1.1-object--global.scss */
p {
  font-size: 1em;
  font-family: 'proxima-light';
}

/* line 16, ../../scss/layout/_1.1-object--global.scss */
.container {
  position: relative;
}

/* line 18, ../../scss/layout/_1.1-object--global.scss */
.block-footer {
  padding: 40px 0;
  text-align: center;
}

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
/* line 22, ../../scss/layout/_1.1.1-object--burger.scss */
.burger {
  top: 0;
  right: 0;
}

/* line 24, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  float: right;
}

/* line 43, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger:focus {
  outline: none;
}

/* line 47, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: white;
}

/* line 57, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

/* line 68, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger span::before {
  top: -10px;
}

/* line 72, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger span::after {
  bottom: -10px;
}

/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */
/* line 86, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--rot span {
  transition: transform 0.3s;
}

/* active state, i.e. menu open */
/* line 95, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
/* line 107, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 113, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx span::before {
  transition-property: top, transform;
}

/* line 117, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 124, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx.is-active span {
  background: none;
}

/* line 128, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

/* line 133, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 138, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */
/* line 151, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla {
  background-color: #32dc64;
}

/* line 155, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla span {
  transition: transform 0.3s;
}

/* line 164, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

/* line 169, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
/* line 176, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla.is-active {
  background-color: #19903c;
}

/* line 180, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

/* line 184, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

/* line 189, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(19px) translateY(2px) rotate(45deg);
}

/* line 194, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(19px) translateY(-2px) rotate(-45deg);
}

/**
 * Style 4
 *
 * Hamburger to right-arrow (htra). Hamburger menu transforms to a
 * right-pointing arrow. Usually indicates an off canvas menu sliding in from 
 * right that will be close on re-click of the icon.
 */
/* line 207, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra {
  background-color: #ff9650;
}

/* line 211, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra span {
  transition: transform 0.3s;
}

/* line 220, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

/* line 225, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
/* line 232, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra.is-active {
  background-color: #e95d00;
}

/* line 236, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}

/* line 240, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}

/* line 245, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-4px) translateY(2px) rotate(-45deg);
}

/* line 250, ../../scss/layout/_1.1.1-object--burger.scss */
.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-4px) translateY(-2px) rotate(45deg);
}

/* line 13, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 19, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media li {
  list-style-type: none;
  display: inline-block;
}
/* line 24, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media li a {
  display: block;
  background: #FFFFFF;
  border-radius: 100%;
  padding: 3px;
}
/* line 31, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media li a .icon {
  margin: 0;
  padding: 0;
  background: #333333;
}
/* line 12, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.social-media li a .icon svg {
  width: 50px;
  height: 50px;
}
/* line 17, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.social-media li a .icon svg polygon,
.social-media li a .icon svg circle,
.social-media li a .icon svg rect,
.social-media li a .icon svg path {
  fill: #EEEEEE;
}
/* line 36, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media li a:hover .icon {
  background: #333333;
}
/* line 38, ../../scss/layout/_1.1.2-object--socialmedia.scss */
.social-media li a img {
  width: 30px;
  height: 30px;
}

/* line 5, ../../scss/layout/_1.3-object--icons.scss */
.icon__bg-none {
  fill: none;
}

/* line 11, ../../scss/layout/_1.3-object--icons.scss */
.icon-left {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 12, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-left svg {
  width: 100%;
  height: 100%;
}
/* line 17, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-left svg polygon,
.icon-left svg circle,
.icon-left svg rect,
.icon-left svg path {
  fill: #FFFFFF;
}

/* line 22, ../../scss/layout/_1.3-object--icons.scss */
.icon-right {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 12, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-right svg {
  width: 100%;
  height: 100%;
}
/* line 17, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-right svg polygon,
.icon-right svg circle,
.icon-right svg rect,
.icon-right svg path {
  fill: #FFFFFF;
}

/* line 32, ../../scss/layout/_1.3-object--icons.scss */
.icon-thumb {
  text-align: center;
  display: block;
  margin: 0;
}
/* line 38, ../../scss/layout/_1.3-object--icons.scss */
.icon-thumb span {
  color: #AAAAAA;
}
/* line 42, ../../scss/layout/_1.3-object--icons.scss */
.icon-thumb .icon {
  margin: 0;
  padding: 0;
}
/* line 12, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-thumb .icon svg {
  width: 100%;
  height: 100%;
}
/* line 17, ../../scss/utilities/_0.3.1-mixins--icons.scss */
.icon-thumb .icon svg polygon,
.icon-thumb .icon svg circle,
.icon-thumb .icon svg rect,
.icon-thumb .icon svg path {
  fill: #AAAAAA;
}

/* line 7, ../../scss/layout/_1.4-object--inputs.scss */
.btn {
  border-radius: 0;
  font-family: "proxima", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 9, ../../scss/layout/_1.4-object--inputs.scss */
.btn.btn-blue {
  background: #1e334e;
  color: #FFFFFF;
}
/* line 14, ../../scss/layout/_1.4-object--inputs.scss */
.btn.btn-blue:hover {
  background: #555555;
}
/* line 17, ../../scss/layout/_1.4-object--inputs.scss */
.btn.btn-white-bordered {
  border: 1px solid #1e334e;
  color: #1e334e;
}
/* line 22, ../../scss/layout/_1.4-object--inputs.scss */
.btn.btn-white-bordered:hover {
  background: #1e334e;
  color: #FFFFFF;
}

/* line 9, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper {
  padding: 10px;
}
/* line 11, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-image {
  width: 100%;
  height: auto;
}
/* line 12, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 13, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-description {
  margin: 0;
}
/* line 14, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info {
  display: block;
  margin: 20px 0;
}
/* line 15, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .price {
  display: inline-block;
  font-size: 1.125em;
  margin: 0;
  font-family: "gotham", Helvetica, "Arial Black", sans-serif;
}
/* line 16, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating {
  display: inline-block;
  height: 14px;
  margin-left: 5px;
  margin-top: 5px;
  background: url("../../assets/images/products/rating.png") no-repeat left center;
}
/* line 23, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating.star-1 {
  width: 18px;
}
/* line 24, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating.star-2 {
  width: 36px;
}
/* line 25, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating.star-3 {
  width: 54px;
}
/* line 26, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating.star-4 {
  width: 72px;
}
/* line 27, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-info .product-rating.star-5 {
  width: 90px;
}
/* line 30, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .product-detail {
  color: #999999;
  margin-bottom: 20px;
}
/* line 31, ../../scss/layout/_1.5-object--product.scss */
.block__product .wrapper .btn {
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  /* line 44, ../../scss/layout/_1.5-object--product.scss */
  .block__product .btn {
    width: 80%;
  }
}
@media (max-width: 1199px) {
  /* line 54, ../../scss/layout/_1.5-object--product.scss */
  .block__product .btn {
    width: 80%;
  }
}
@media (max-width: 991px) {
  /* line 64, ../../scss/layout/_1.5-object--product.scss */
  .block__product .btn {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 5, ../../scss/layout/_1.5-object--product.scss */
  .block__product {
    width: 100%;
  }
  /* line 76, ../../scss/layout/_1.5-object--product.scss */
  .block__product .btn {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 320px) {
  /* line 86, ../../scss/layout/_1.5-object--product.scss */
  .block__product .btn {
    width: 100%;
  }
}

/* line 5, ../../scss/layout/_2.1-block--header.scss */
.header {
  background: #1e334e;
}
/* line 11, ../../scss/layout/_2.1-block--header.scss */
.header .logo {
  width: 250px;
  height: auto;
}

/* line 3, ../../scss/layout/_2.2-block--footer.scss */
.footer {
  background: #1e334e;
}
/* line 9, ../../scss/layout/_2.2-block--footer.scss */
.footer > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 15, ../../scss/layout/_2.2-block--footer.scss */
.footer .footnotes h3 {
  color: #86B2C1;
}
/* line 23, ../../scss/layout/_2.2-block--footer.scss */
.footer .footer__logo .logo {
  width: 180px;
  height: auto;
}
/* line 29, ../../scss/layout/_2.2-block--footer.scss */
.footer .footer-bottom {
  background: #FFFFFF;
  padding: 10px 0;
  padding-left: 20px;
}
/* line 31, ../../scss/layout/_2.2-block--footer.scss */
.footer .footer-bottom p {
  margin: 0;
  color: #1e334e;
}
@media (min-width: 1200px) {
  /* line 42, ../../scss/layout/_2.2-block--footer.scss */
  .footer .footer__logo {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  /* line 51, ../../scss/layout/_2.2-block--footer.scss */
  .footer .footer__logo {
    text-align: right;
  }
}
@media (max-width: 991px) {
  /* line 60, ../../scss/layout/_2.2-block--footer.scss */
  .footer .footer__logo {
    text-align: right;
  }
}
@media (max-width: 480px) {
  /* line 69, ../../scss/layout/_2.2-block--footer.scss */
  .footer .footer__logo {
    text-align: center;
  }
  /* line 70, ../../scss/layout/_2.2-block--footer.scss */
  .footer .footer__logo .logo {
    margin: 40px auto;
    display: block;
  }
}

/* line 3, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper {
  position: relative;
}
/* line 11, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls {
  background: #1e334e;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 15, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-nav {
  display: none;
}
/* line 19, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin: 10px 10px;
}
/* line 23, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot span {
  background: #FFFFFF;
  padding: 8px;
  border-radius: 100%;
  z-index: 10;
  display: inline-block;
}
/* line 27, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot:nth-child(1) span {
  background: #FFFFFF;
}
/* line 28, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot:nth-child(2) span {
  background: #5Eb0A5;
}
/* line 29, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot:nth-child(3) span {
  background: #EBAB82;
}
/* line 30, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot:nth-child(4) span {
  background: #EED082;
}
/* line 32, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-controls .owl-dots .owl-dot.active span {
  background: #BBBBBB;
}
/* line 44, ../../scss/layout/_2.3-block--carousel.scss */
.carousel-wrapper .owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  /* line 71, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item {
    position: relative;
  }
  /* line 72, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  /* line 90, ../../scss/utilities/_0.3.0-mixins--effects.scss */
  .carousel-wrapper .owl-carousel .item .item-image:before {
    content: "";
    display: block;
    padding-top: 120%;
  }
  /* line 73, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
  }
}
@media (max-width: 480px) {
  /* line 90, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item {
    position: relative;
  }
  /* line 91, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  /* line 90, ../../scss/utilities/_0.3.0-mixins--effects.scss */
  .carousel-wrapper .owl-carousel .item .item-image:before {
    content: "";
    display: block;
    padding-top: 165%;
  }
  /* line 92, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
  }
}
@media (max-width: 320px) {
  /* line 109, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item {
    position: relative;
  }
  /* line 110, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  /* line 90, ../../scss/utilities/_0.3.0-mixins--effects.scss */
  .carousel-wrapper .owl-carousel .item .item-image:before {
    content: "";
    display: block;
    padding-top: 165%;
  }
  /* line 111, ../../scss/layout/_2.3-block--carousel.scss */
  .carousel-wrapper .owl-carousel .item .item-image img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
  }
}

/* line 3, ../../scss/layout/_2.4-block--info.scss */
.block__info {
  position: relative;
  margin-top: 80px;
}
/* line 14, ../../scss/layout/_2.4-block--info.scss */
.block__info .aside__info-copy h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 15, ../../scss/layout/_2.4-block--info.scss */
.block__info .aside__info-copy .btn {
  margin: 40px 0;
}
/* line 22, ../../scss/layout/_2.4-block--info.scss */
.block__info .figure__info-image {
  position: relative;
  text-align: left;
}
/* line 26, ../../scss/layout/_2.4-block--info.scss */
.block__info .figure__info-image .image {
  width: 100%;
  height: auto;
}
/* line 34, ../../scss/layout/_2.4-block--info.scss */
.block__info .block-footer {
  background: #5Eb0A5;
}
@media (min-width: 1200px) {
  /* line 46, ../../scss/layout/_2.4-block--info.scss */
  .block__info .aside__info-copy {
    padding-left: 100px;
  }
  /* line 52, ../../scss/layout/_2.4-block--info.scss */
  .block__info .figure__info-images {
    padding-right: 100px;
  }
  /* line 52, ../../scss/layout/_2.4-block--info.scss */
  .block__info .figure__info-images .image {
    margin: 40px 0;
  }
}
@media (max-width: 991px) {
  /* line 74, ../../scss/layout/_2.4-block--info.scss */
  .block__info .figure__info-images .image {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}

/* line 7, ../../scss/layout/_2.5-block--products.scss */
.block__products {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 12, ../../scss/layout/_2.5-block--products.scss */
.block__products .block__title {
  display: inline-block;
  margin-bottom: 40px;
}
/* line 13, ../../scss/layout/_2.5-block--products.scss */
.block__products .block__title p {
  display: inline-block;
  color: #999999;
  margin: 0;
}
/* line 14, ../../scss/layout/_2.5-block--products.scss */
.block__products .block__title .block__logo {
  width: 200px;
  height: auto;
  display: inline-block;
}

/* line 11, ../../scss/layout/_3.1-page--installer.scss */
.page--installer .block__info .aside__info-image {
  text-align: center;
}
/* line 13, ../../scss/layout/_3.1-page--installer.scss */
.page--installer .block__info .aside__info-image .btn {
  margin: 40px auto;
}
/* line 16, ../../scss/layout/_3.1-page--installer.scss */
.page--installer .block__info .block-footer p {
  font-size: 2em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: "proxima", Helvetica, Arial, sans-serif;
}
/* line 31, ../../scss/layout/_3.1-page--installer.scss */
.page--installer .carousel-wrapper .owl-controls .owl-dots .owl-dot span {
  background: #FFFFFF;
}
/* line 32, ../../scss/layout/_3.1-page--installer.scss */
.page--installer .carousel-wrapper .owl-controls .owl-dots .owl-dot.active span {
  background: transparent;
  border: 1px solid #FFFFFF;
  padding: 7px;
}
