// 1. OBJECT [ 1.3. ICONS ] ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.icon__bg-none { fill: none; }

// A.1. ICONS ---------------------------------------------------------------------------------------------------------

// A.1.1. LEFT --------------------------------------------------------------------------------------------------------

.icon-left {

    display: inline-block;
    @include icon (100%, 100%, $white);
    vertical-align: middle;
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.1. RIGHT -------------------------------------------------------------------------------------------------------

.icon-right {

    @include icon (100%, 100%, $white);
    float: right; 
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. THUMB -------------------------------------------------------------------------------------------------------

.icon-thumb {
    
    text-align: center;
    display: block;
    margin: 0;
    
    span {
        color: $grey50;
    }
    
    .icon {
        
        @include icon (100%, 100%, $grey50);   
        
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################