// 1. OBJECT [ 1.4. INPUTS ] ##########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. ICONS ---------------------------------------------------------------------------------------------------------

.btn { border-radius: 0; font-family: $regular; padding-top: $baseline-small; padding-bottom: $baseline-small;
    
    &.btn-blue {
        
        background: $royal;
        color: $white;
        
        &:hover { background: $grey80; }
    }
    
    &.btn-white-bordered {
        
        border: 1px solid $royal;
        color: $royal;
        
        &:hover { background: $royal; color: $white; }
    }
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################