// 1. OBJECT [ 1.5. PRODUCTS ] ########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.block__product {
    
    // A.1. CARDS -----------------------------------------------------------------------------------------------------
    
    .wrapper { padding: $baseline-small;
        
        .product-image { width: 100%; height: auto; }
        h3 { font-size: $large; text-transform: uppercase; margin-bottom: 0; }
        .product-description { margin: 0; }
        .product-info { display: block; margin: $baseline 0;
            .price { display: inline-block; font-size: $medium; margin: 0; font-family: $gotham; }
            .product-rating { 
                display: inline-block;
                height: 14px;
                margin-left: $baseline-smaller; 
                margin-top: $baseline-smaller;
                background: url('../../assets/images/products/rating.png') no-repeat left center;
                
                &.star-1 { width: 18px; }
                &.star-2 { width: 36px; }
                &.star-3 { width: 54px; }
                &.star-4 { width: 72px; }
                &.star-5 { width: 90px; } 
            }
        }
        .product-detail { color: $grey60; margin-bottom: $baseline; }
        .btn { text-transform: uppercase; }
        
        
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            
    // E. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (min-width:1200px) {
    
        .btn { width: 80%; }
    
    }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // E. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:1199px) {
    
        .btn { width: 80%; }
    
    }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:991px) {
    
        .btn { width: 50%; margin: 0 auto; display: block; }
    
    }
    
    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // C. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:480px) {
        
        width: 100%;
    
        .btn { width: 50%; margin: 0 auto; display: block; }
    
    }
    
    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // B. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:320px) {
        
        .btn { width: 100%; }
    
    }
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################