// 2. BLOCK [ 2.2. FOOTER ] ###########################################################################################

.footer {
    
    // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    background: $royal;
    
    >.container { padding-top: $baseline-large; padding-bottom: $baseline-large; }
    
    // A.1. COPY AREA -------------------------------------------------------------------------------------------------

    .footnotes {
        
        h3 { color: $aqua; } 
        
    }

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.1. LOGO ------------------------------------------------------------------------------------------------------

    .footer__logo { .logo { width: 180px; height: auto; }}

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    .footer-bottom { background: $white; padding: $baseline-small 0; padding-left: $baseline;
    
        p { margin: 0; color: $royal; }
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            
    // E. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (min-width:1200px) {
    
        .footer__logo { text-align: right; }
    }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // E. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:1199px) {
    
        .footer__logo { text-align: right; }
    }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:991px) {
    
        .footer__logo { text-align: right; }
    }
    
    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // C. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:480px) {
    
        .footer__logo { text-align: center;
            .logo { margin: $baseline-large auto; display: block; }
        }
    }
    
    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // B. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:320px) {}
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################