// 2. BLOCK [ 2.3. CAROUSEL ] #########################################################################################

.carousel-wrapper {
    
    // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    position: relative;
    
    // A.1. CONTROLS --------------------------------------------------------------------------------------------------
    
    .owl-controls {
        
        background: $royal; opacity: 0.8; position: absolute; bottom: 0; left: 0; right: 0; text-align: center;
        
        .owl-nav { display: none; }
        
        .owl-dots { 
            
            .owl-dot {
                
                display: inline-block; margin: $baseline-small $baseline-small;
                
                span { 
                    background: $white; padding: 8px; border-radius: 100%; z-index: 10; display: inline-block;
                }
                
                &:nth-child(1)  { span { background: $white; }}
                &:nth-child(2)  { span { background: $teal; }}
                &:nth-child(3)  { span { background: $orange; }}
                &:nth-child(4)  { span { background: $yellow; }}
                
                &.active { span { background: $grey40; }}
            }
        }
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. CAROUSEL IMAGE --------------------------------------------------------------------------------------------
    
    .owl-carousel { 
        .item {
            
            img{ display: block; width: 100%; height: auto; }
            
        }
    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    
    // B. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (min-width:1200px) { }

    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:1199px) { }

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:991px) {
    
        // A.2. CAROUSEL IMAGE ----------------------------------------------------------------------------------------

        .owl-carousel { 
            .item { position: relative;
                .item-image { @include aspect-ratio (100%, 120%); margin: 0; overflow: hidden;
                    img { width: auto; height: 100%; position: absolute; top: 0; left: -50%; }}
            }
        }

        // A.2. END ---------------------------------------------------------------------------------------------------

    }

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:480px) {
    
        // A.2. CAROUSEL IMAGE ----------------------------------------------------------------------------------------

        .owl-carousel { 
            .item { position: relative;
                .item-image { @include aspect-ratio (100%, 165%); margin: 0; overflow: hidden;
                    img { width: auto; height: 100%; position: absolute; top: 0; left: -50%; }}
            }
        }

        // A.2. END ---------------------------------------------------------------------------------------------------

    }

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // F. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:320px) {
    
        // A.2. CAROUSEL IMAGE ----------------------------------------------------------------------------------------

        .owl-carousel { 
            .item { position: relative;
                .item-image { @include aspect-ratio (100%, 165%); margin: 0; overflow: hidden;
                    img { width: auto; height: 100%; position: absolute; top: 0; left: -50%; }}
            }
        }

        // A.2. END ---------------------------------------------------------------------------------------------------

    }

    // F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}

// END OF FILE ########################################################################################################