// 2. BLOCK [ 2.4. INFO ] #############################################################################################

.block__info {
    
    // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    position: relative;
    margin-top: $baseline-larger;
    
    // A.1. INFO COPY -------------------------------------------------------------------------------------------------
    
    .aside__info-copy { 
    
        h2 { margin-top: 0; margin-bottom: $baseline; }
        .btn { margin: $baseline-large 0; }
    }

    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. INFO IMAGE ------------------------------------------------------------------------------------------------
    
    .figure__info-image {
        
        position: relative; text-align: left;
        
        .image { width: 100%; height: auto; }

    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------
    
    // A.3. BLOCK FOOTER ----------------------------------------------------------------------------------------------
    
    .block-footer { background: $teal; }
    
    // A.3. END -------------------------------------------------------------------------------------------------------
    
    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            
    // E. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (min-width:1200px) {

        // A.1. INFO COPY ---------------------------------------------------------------------------------------------

        .aside__info-copy { padding-left: $baseline-largest; }

        // A.1. END ---------------------------------------------------------------------------------------------------
    
        // A.2. INFO IMAGE --------------------------------------------------------------------------------------------

        .figure__info-images { padding-right: $baseline-largest; .image { margin: $baseline-large 0; }}

        // A.2. END ---------------------------------------------------------------------------------------------------
    
    }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // E. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:1199px) { }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:991px) {

        // A.2. INFO IMAGE --------------------------------------------------------------------------------------------

        .figure__info-images {

            .image { width: 100%; height: auto; margin-bottom: $baseline-large; }

        }

        // A.2. END ---------------------------------------------------------------------------------------------------

    }
    
    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // C. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:480px) { }
    
    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // B. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:320px) {}
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}    

// END OF FILE ########################################################################################################