// 1. BLOCK [ 2.5. PRODUCTS ] #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. PRODUCTS BLOCK ------------------------------------------------------------------------------------------------

.block__products {
    
    margin-top: $baseline;
    margin-bottom: $baseline-large;
    
    .block__title { display: inline-block; margin-bottom: $baseline-large;
        p { display: inline-block; color: $grey60; margin: 0; }
        .block__logo { width: 200px; height: auto; display: inline-block; }
    }

}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################