// 1. PAGE [ 3.2. INSTALLER PAGE ] ####################################################################################

.page--installer {
    
    // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // A.1. INFO BLOCK ------------------------------------------------------------------------------------------------
    
    .block__info {
        
        .aside__info-image { text-align: center;
        
            .btn { margin: $baseline-large auto; }
        }
        
        .block-footer { p { font-size: $xx-large; color: $white; margin: 0; padding: 0; font-family: $regular; }}
        
    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. CAROUSEL BLOCK --------------------------------------------------------------------------------------------
    
    .carousel-wrapper {

        .owl-controls {

            .owl-dots { 

                .owl-dot {
                    span { background: $white; }
                    &.active  { span { background: transparent; border: 1px solid $white; padding: 7px; }}

                }
            }
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

    }
    
    // A.1. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // B. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (min-width:1200px) { }
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // C. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:1199px) { }
    
    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:991px) { }
    
    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        
    // E. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:480px) { }
    
    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // F. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    @media (max-width:320px) {}
    
    // F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// PAGE: END ==========================================================================================================